<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    
    <script src="main.js"></script>
    
    <div>
    <h2>Informations personnelles</h2>
    
    <div class="alert">
        <form method="POST" action="ajoutCompte.php">
    <table>
        <tr><td>Id</td><td><input type="text" name="id" placeholder="Id" required></td></tr>
        <tr><td>Username</td><td><input type="text" name="username" placeholder="Username" required></td></tr>
        <tr><td>Email</td><td><input type="text" name="email" placeholder="Email" required></td></tr>
        <tr><td>Password</td><td><input type="text" name="password" type="password" required></td></tr>
        
        <tr><td></td><td><input class="form-element" type="submit" name="ajouter" value="ajouter"></td></tr>
    </table>
        </form>
    </div>
    </div>
</body>
    
</html>
